.Card {
  width: 49.5%;
  height: 250px;
  margin: $spacing auto;

  border: 1px solid #eee;

  cursor: pointer;

  &:hover {
    border-color: rgba(21, 21, 21, 0.25);
  }

  &.featured {
    margin: $spacing 0;
    width: 100%;
    height: 300px;
  }

  &__thumbnail {
    width: 300px;

    overflow: hidden;

    & img {
      height: 100%;
      width: auto;
      position: relative;

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    margin-left: $spacing * 2;
  }

  &__kind {
    opacity: 0.5;
    margin-top: 0;
  }

  &__title {
    margin-bottom: 0;
  }

  /* Media queries */

  @media (max-width: 768px) {
    width: 100%;
    height: auto !important;
    flex-direction: column;

    .Card__thumbnail {
      width: 100%;
      height: 200px;

      & img {
        height: auto;
        width: 100%;
        position: relative;
      }
    }
  }
}
