.Footer {
  border-top: 1px solid #eee;
  margin-top: $spacing;

  &__content {
    max-width: $breakpoint;
    margin: 0 auto;
    padding: $spacing;
    & p {
      margin: 0;
      opacity: 0.7;
    }
  }
}
