.Nav {
  padding: 0 $spacing * 3;

  border: 1px solid #eee;

  &__content {
    height: 64px;
    max-width: $breakpoint;
    margin: 0 auto;

    align-items: center;
  }

  &__logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
  }

  &__actions {
    & div {
      cursor: pointer;
    }
  }
}
