.Recipe {
  &__thumbnail {
    width: 100%;
    height: 25vh;
    overflow: hidden;

    & img {
      width: 100%;
      height: auto;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__kind {
    margin-top: 0;
    opacity: 0.7;
  }

  &__steps {
    border-right: none;
    padding: $spacing;
  }

  &__step {
    & h3 {
      margin-bottom: 0;
    }

    & p {
      margin: 0;
      opacity: 0.7;
    }
  }

  &__ingredients {
    border-left: 3px solid #eee;
    padding: $spacing;
    min-width: 275px;
  }

  &__ingredient {
    margin: $spacing 0;
    & p {
      margin: 0;
      &:last-child {
        margin-left: 10px;
        opacity: 0.5;
      }
    }
  }

  @media (max-width: 768px) {
    .Recipe__content {
      flex-wrap: wrap;
    }

    .Recipe__steps {
      margin-bottom: $spacing;
    }

    .Recipe__ingredients {
      width: 100%;
      border-left: none;
    }

    .Recipe__ingredient {
      flex-direction: column;
      & p:last-child {
        margin-left: 0;
      }
    }
  }
}
